<div id="sign-button">
<h1>Workout App</h1>

<ul id="nav-bar">
<li id="home-link"> <%= link_to 'BMI Tracker', bmis_path, class: 'btn btn-primary' %> </li>
<li id="home-link"> <%= link_to 'Workout Form', workouts_path %> </li>
<li id="home-link"> <%= link_to 'Exercise Search', search_exercises_path %> </li>
</ul>