<% content_for :javascript do %>
  <script type="module">
    import "search";
  </script>
<% end %>

<h1>Exercises</h1>

<form class="search-form" action="action_page.php">
  <input type="text" id="search-input" placeholder="Search.." name="search">
  <button type="submit">Search<i class="fa fa-search"></i></button>
</form>

<div id="results-container">
</div>
