<h1>Exercises</h1>

<form class="search" action="action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit">Search<i class="fa fa-search"></i></button>
</form>