<% content_for :javascript do %>
  <script type="module">
    import "search";
  </script>
<% end %>

<h1>Exercises</h1>

<form id="search" action="javascript:void(0);">
  <input type="text" id="search-input" placeholder="Search.." name="search">
  <button type="submit">Search<i class="fa fa-search"></i></button>
</form>
<div class="text-center mb-4">
<%= link_to 'Go to Workouts', workouts_path, class: 'btn btn-primary' %>
</div>
<div id="results-container">
</div>

<script>
  const API_KEY.apiKey = 'b338d3f183e5597a38dda59944f6e820955d2d31';  
</script>