<% content_for :javascript do %>
  <script type="module">
    import "search";
  </script>
<% end %>
<% content_for :javascript do %>
  <script type="module">
    const apiKey = "<%= Rails.application.credentials.apiKey %>";
    window.apiKey = apiKey;
  </script>
<% end %>

<h1>Exercises</h1>

<form id="search" action="javascript:void(0);">
  <input type="text" id="search-input" placeholder="Search.." name="search">
  <button type="submit">Search<i class="fa fa-search"></i></button>
</form>
<div class="text-center mb-4">
<%= link_to 'Go to Workouts', workouts_path, class: 'btn btn-primary' %>
</div>
<div id="results-container">

</div>
